.Header {
  & .repos_title {
    text-decoration: none;
    width: fit-content;
    position: relative;
    font-size: 30px;
    color: #539bf5;
    cursor: pointer;
  }
  & .repos_title::after,
  & .repos_title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  & .repos_title::before {
    border-left: 2px solid white;
    background-color: #353535;
    animation: typing 3s steps(30) forwards, blink 900ms steps(20) infinite;
  }
  @keyframes typing {
    25% {
      border-left: 2px solid white;
      left: 0%;
    }
    100% {
      border-left: 2px solid white;
      left: 100%;
    }
  }
  @keyframes blink {
    to {
      border-left: transparent;
    }
  }
}

.noMatch {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 8rem;
  letter-spacing: 15px;
  color: #0e3742;
  line-height: 0, 70em;
  animation: neon 7s linear infinite;
}

@keyframes neon {
  0% {
    color: #0e3742;
    box-shadow: none;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 60px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
  100% {
    color: #0e3742;
    box-shadow: none;
  }
}
